.brand.logo {
  font-size: 25px;
}

.row.home {
  margin-bottom: 50px;
  margin-top: 80px;
}

.home img {
  padding: 20px;
}

.home input[type="text"] {
  margin-bottom: 20px;
  width: 300px;
}

#sign_up_form {
  margin: auto;
  width: 400px;
}

#sign_up_form #short_field input[type="text"] {
  width: 180px;
}

#sign_up_form input[type="text"],
#sign_up_form input[type="password"] {
  width: 385px;
}
